__pycache__
channel_1
channel_2
channel_3
channel_4
channel_5
channel_6
channel_7
channel_8
channel_9
channel_10
channel_11
channel_12
channel_13
channel_14
channel_15
ocr
oaix.db
ocr_run_process_image
mac_311
runs
.env# Large video files - keep local only
*.mp4
ffmpeg/*.mp4


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts